<div id="add-update-form">
    <%= form_for @art do |f| %>
        <div id="labels">
            <p><%= f.label :form %></p>
            <p><%= f.label :name %></p>
            <p><%= f.label :artist %></p>
            <p><%= f.label :year %></p>
            <p><%= f.label :image %></p>
        </div>
        <div id="inputs">
            <p><%= f.select :form, ["Paint", "Architecture", "Sculpture", "Literature", "Music", "Performance","Cinema"],{ :include_blank => true }, :required => true %></p>
            <p><%= f.text_field :name , :required => true%></p>
            <p><%= f.text_field :artist %></p>
            <p><%= f.number_field :year %></p>
            <p><%= f.text_field :image %></p>
        </div>

        <p id="button-form"><%= f.submit%></p>
    <% end %>
</div>